@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');
html {
    font-family: 'Tinos', serif;
}
body{
    margin: 0;
    background-color: #ffffff;
}
/* ***************************| HEADER |******************************** */
header{ 
    background-color: #86a789;
    margin: none;
}
nav {
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content:space-evenly;
}
nav ul{
    list-style: none;
    min-width: 50%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li:hover {
    transition: all 0.2s ease;
    color: black;
    transform: scale(1.1);
    /* font-weight:bolder; */
}
li{
    padding:0 5px 0 5px;
    margin: 2% 0 2% 0   ;
    transition: all 0.2s ease;
    transform: scale(1);
}
a{
    color: #ffffff;
    text-decoration: none;    
}

/* ***************************| MAİN |******************************** */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    color: black;
}

.giris{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.para-birimleri img{
    max-width: 100%;
}

.first-container {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    align-content: center;
}
.first-container div {
    padding-left: 20px;
    padding-right: 20px;
}
.slider img {
    width: 100%;
    max-width: 600px;
}
.curreny {
    width: 100%;
    max-width: 600px;
}
/* -------------------- */
.main-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
}
article {
    padding: 10px;
    width: 360px;
    /* box-shadow: 0px 5px 22px -5px rgba(0,0,0,0.25); */  
}
article a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
} 
.new {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin:-260px 300px 0 0 ;
    position: absolute;
    padding: 4px;
    background-color: red;
    color: white;
    box-shadow:0 0 0 4px rgba(255, 0, 0, 0.27) ;
}
.resim {
    width: 360px; /* Hedef genişlik */
    height: 203px; /* Hedef yükseklik */
    overflow: hidden;
}
article img {
    width: 100%;
    /* clip-path: rect(); */
    /* aspect-ratio: 16/9; */
    height: auto;
    object-fit: cover;
}
article h1 {
    padding: 3%;
    /* yazı tipleri */
}

/* ***************************| FOOTER |******************************** */

footer{
    background-color: #221f20;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer nav ul li:hover{
    transform: scale(1) !important;
}
footer a {
    transition: 0.2s ease;
    text-transform: capitalize !important;
}
footer a:hover { 
    color: red !important;
}
.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0 !important;
    padding: 15px;
}
