@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');
html {
    font-family: 'Tinos', serif;
}
body{
    margin: 0;
    background-color: #ffffff;
}
/* ***************************| HEADER |******************************** */
header{ 
    background-color: #60654a;
    margin: none;
}
nav {
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content:space-evenly;
}
nav ul{
    list-style: none;
    min-width: 50%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li:hover,
nav ul li:hover a {
    transition: all 0.3s ease;
    color: #8ea13e;

    /* transform: scale(1.1); */ /* bu devre dışı ancak açılabilir --> büyüme efekti gelir*/
    /* font-weight:bolder; */
}
li{
    padding:0 5px 0 5px;
    margin: 2% 0 2% 0   ;
    transition: all 0.3s ease;
    transform: scale(1);
}
a{
    color: #ffffff;
    text-decoration: none;    
}
header a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #8ea13e;
    bottom: -10px;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  header a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
  }
  

/* ***************************| MAİN |******************************** */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    color: black;
}
.giris{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
/* ----------------------------------------------------- */
.curreny {
    width: 100%;
    max-width: 600px;
}
.curreny iframe {
    width:1000px;
    height:450px;
}
/* ----------------------------------------------------- */
.headline {
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    align-content: center;
}
/* ----------------------------------------------------- */
.slider {
    padding: 0;
}
.slider img {
    width: 100%;
    max-width: 600px;
}
/* ----------------------------------------------------- */
.seperator {
    width: 125px;
    height: 1px;
}
aside {
    width: 100%;
    max-width:400px ;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}
/* ====================================================== */
.main-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
}
article {
    padding: 10px;
    width: 360px;
    /* box-shadow: 0px 5px 22px -5px rgba(0,0,0,0.25); */
}
article a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
article:hover  .resim img {  /* burası üzerine article gelindiğindeki efektler için*/
    transform: scale(1.1);
    filter: saturate(0);
}
.new {  /* burası new etiketi için */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin:-260px 300px 0 0 ;
    position: absolute;
    padding: 4px;
    background-color: red;
    color: white;
    box-shadow:0 0 0 4px rgba(255, 0, 0, 0.27) ;
    z-index: 1;
    border-radius: 10px; /* --> burayı kapatırsan new etiketi keskin kenarlı olur*/
}
.resim {
    width: 360px; /* Hedef genişlik */
    height: 203px; /* Hedef yükseklik */
    overflow: hidden;
    transform: scale(1);
    z-index: 0;
}
.resim img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.4s all !important; /*bunu resme koyduk ki bıraktığımızda da zaman alsın*/
}
article h1 {
    padding: 3%;
}

/* ***************************| FOOTER |******************************** */

footer{
    background-color: #2c362a;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer nav ul li:hover{
    transform: scale(1) !important;
}
footer a {
    transition: 0.2s ease;
    text-transform: capitalize !important;
}
footer a:hover { 
    color: red !important;
}
.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0 !important;
    padding: 15px;
}
