@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');
html {
    font-family: 'Tinos', serif;
    /* height: 100%; */
    font-size: 18px;
}
body{
    margin: 0;
    background-color: #ffffff;
    height: 100%;
}
a:hover {
    cursor: pointer;
}

/* ::-webkit-scrollbar-track
{
	background-color: #e1e1e1;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #e1e1e1;
}

::-webkit-scrollbar-thumb
{
	background-color: #171d16;
} */

/* ***************************| HEADER |******************************** */
header{ 
    background-color: #60654a;
    margin: none;
}
nav {
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content:space-evenly;
}
nav ul{
    list-style: none;
    min-width: 50%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
}
nav ul li:hover,
nav ul li:hover a {
    transition: all 0.3s ease;
    color: #8ea13e;

    /* transform: scale(1.1); */ /* bu devre dışı ancak açılabilir --> büyüme efekti gelir*/
    /* font-weight:bolder; */
}
li{
    padding:0 5px 0 5px;
    margin: 2% 0 2% 0   ;
    transition: all 0.3s ease;
    transform: scale(1);
}
a{
    color: #ffffff;
    text-decoration: none;    
}
header a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #8ea13e;
    bottom: -10px;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  header a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
  }
  

/* ***************************| MAİN |******************************** */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 100vh;
    color: black;
}
.giris{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
/* ----------------------------------------------------- */
.curreny {
    width: 100%;
    max-width: 600px;
}
.curreny iframe {
    width:1000px;
    height:450px;
}
/* ----------------------------------------------------- */
.headline {
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    align-content: center;
}
/* ----------------------------------------------------- */
.slider {
    padding: 0;
}
.slider img {
    width: 100%;
    max-width: 600px;
}
/* ----------------------------------------------------- */
.seperator {
    width: 125px;
    height: 20px;
}
aside {
    width: 100%;
    max-width:400px ;
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 450px;
}
.side-header {
    width: 100%;
}
/*scrollbar start*/
ul::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
ul::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
ul::-webkit-scrollbar-thumb
{
	background-color: #171d16;
}
/*scrollbar end*/
aside a {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}
aside ul {
    list-style: none;
    padding:0 ;
    margin: 0;
    overflow-y: scroll;
}
aside li {
    width: 100%;
    padding:0 ;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 18px;
    border-bottom: dashed 1px #2c362a;
}
aside li:first-child { /* ilk eleman için üst tarafa paddin verdik çünkü h2 ye verirsek scrollbar kötü duruyor*/
    padding-top: 20px;
}
aside h2 {
    color: red;
    width: 100%;
    padding:0 ;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: solid 3px red;
    font-family: 'Ubuntu', sans-serif;
    /* position: sticky; */
    /* margin-left:25px ; */
    z-index: 1;
}
/* .pulse-dot {
    position: absolute;
    height: 40px;
    margin-top: 22px;
    margin-left: 0px;
}
.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* height: 100vh; 
  }
  
  .circle {
    background:red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.27);
  }
  
  .pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.27);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
  } */
aside span {
    margin-right: 15px;
    font-weight: 700;
    color: #0000009a;
}
aside h1 {
    padding:0 ;
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
}
/* ====================================================== */
.main-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
}
article {
    padding: 10px;
    width: 360px;
    /* box-shadow: 0px 5px 22px -5px rgba(0,0,0,0.25); */
}
article a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
article:hover  .resim img {  /* burası üzerine article gelindiğindeki efektler için*/
    transform: scale(1.1);
    filter: saturate(0);
}
.new {  /* burası new etiketi için */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin:-260px 300px 0 0 ;
    position: absolute;
    padding: 4px;
    background-color: red;
    color: white;
    box-shadow:0 0 0 4px rgba(255, 0, 0, 0.27) ;
    z-index: 1;
    border-radius: 10px; /* --> burayı kapatırsan new etiketi keskin kenarlı olur*/
}
.resim {
    width: 360px; /* Hedef genişlik */
    height: 203px; /* Hedef yükseklik */
    overflow: hidden;
    transform: scale(1);
    z-index: 0;
}
.resim img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.4s all !important; /*bunu resme koyduk ki bıraktığımızda da zaman alsın*/
}
.main-news article h1 {
    padding: 3%;
}

/* ***************************| FOOTER |******************************** */

footer{
    background-color: #2c362a;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif; 
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
footer nav ul li:hover{
    transform: scale(1) !important;
}
footer a {
    transition: 0.2s ease;
    text-transform: capitalize !important;
}
footer a:hover { 
    color: red !important;
}
.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0 !important;
    padding: 15px;
}
/* ##################### COUNTRIES ##################### */
.subpage-entry {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background-color: #8da13eb0;
    color: #2c362a;
    box-shadow: #2c362a5b 0px 3px 12px;
    margin-bottom: 1em;
}
.country-news article{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    margin: 20px 20px;
}
.country-news article div{
    display: flex;
}
.country-news article a{
    margin: 0 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.country-news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.country-news div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.country-news img{
    margin: 0 20px 0 0;
}
.ana-kisim{
    width: 70%;
}
.ana-kisim div{
    display: flex;
    flex-flow: column ;
    flex-wrap: wrap;
}
.country-news aside{
    display: flex;
    flex-wrap: nowrap;
}
.videos{
    margin: 30px 0 20px 30px;
}
/* =============================== NEWS PAGES ================================== */
.newspage{
    display: flex;
}
.newspage section{
    display: flex;
    flex-wrap: wrap;
}
.newspage div{
    display: flex;
    flex-wrap: wrap;
}
.icerik img{
    max-width: 100%;
}
/* ---------------------------- FOOTER ITEMS PAGE ---------------------------- */
.footerpage{
    max-width: 98%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.footerpage .left-aside, .footerpage section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    margin: 10px 0 0 10px;
}
.left-aside{
    width: 55%;
    margin-left: 0;
}
.left-aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.left-aside a{
    color: #000000;
}
.left-aside h1{
    margin: 40px 0 40px 0;
    padding: 10px 0 10px 0;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.footerpage section{
    margin: 40px 0 20px 10px;
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 36px;
    }
    body {
        font-size: 18px; 
    }
    .curreny {
        max-width: 1200px; 
    }

    .curreny iframe {
        width: 2000px;
        height: 900px;
    }

    .slider img {
        max-width: 1200px; 
    }

    aside {
        max-width: 800px; 
    }

    .main-news article {
        width: 720px;
    }
}